{% extends "layout.html" %} {% block content %}
<h3>希望の文体で、返信文を作成します。※数秒程度の時間を要します</h3>
<form action="/result" method="post">
  <div>
    <label for="style">希望する文体</label>
    <textarea
      id="style"
      name="style"
      ,
      rows="4"
      cols="40"
      ,
      maxlength="1024"
      ,
      placeholder="1024文字以内"
    ></textarea>
  </div>
  <div>
    <label for="sentence">返信したい文章</label>
    <textarea
      id="sentence"
      name="sentence"
      ,
      rows="4"
      cols="40"
      ,
      maxlength="1024"
      ,
      placeholder="1024文字以内"
    ></textarea>
  </div>
  <br />
  <input type="submit" value="返信文を作成する" />
</form>
{% endblock %}
